Source: jenkinstest
Section: utils
Priority: optional
Maintainer: Ubuntu_20_Jeniks <yyj@unknown>
Build-Depends: debhelper-compat (= 12), cmake
Standards-Version: 4.4.1
Homepage: http://baidu.com
#Vcs-Browser: https://salsa.debian.org/debian/jenkinstest
#Vcs-Git: https://salsa.debian.org/debian/jenkinstest.git

Package: jenkinstest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
